
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Georgia, serif;
  font-size: 1.2em;
  color: #333;
  background: #fff;
}

header {
  margin: 0 auto;
  width: 650px;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}

form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}



fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  padding: 1rem;
}



label, input, button{
  font-family: Roboto, Arial, sans-serif;
}

label {
  text-align: left;
  padding-right: 1rem;
}


input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="submit"] {
    background-color: #141B41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #306BAC;
}
#q4 img {
    display: block;
    margin: 0 auto;
    
}